.Rproj.user
.Rhistory
.RData
.Ruserdata
.sf
datasets/Plots to edit/balanced_woo_contrast_treatment_IfngKONK_versus_untreated_for_A_TP1_differential.tsv
datasets/Plots to edit/balanced_woo_contrast_treatment_IfngKONK_versus_untreated_for_A_TP2_differential.tsv
datasets/Plots to edit/balanced_woo_contrast_treatment_IfngKONK_versus_untreated_for_D_TP1_differential.tsv
datasets/Plots to edit/balanced_woo_contrast_treatment_IfngKONK_versus_untreated_for_D_TP2_differential.tsv
datasets/Plots to edit/balanced_woo_contrast_treatment_WTNK_versus_IfngKONK_for_A_TP1_differential.tsv
datasets/Plots to edit/balanced_woo_contrast_treatment_WTNK_versus_IfngKONK_for_A_TP2_differential.tsv
datasets/Plots to edit/balanced_woo_contrast_treatment_WTNK_versus_IfngKONK_for_D_TP1_differential.tsv
datasets/Plots to edit/balanced_woo_contrast_treatment_WTNK_versus_IfngKONK_for_D_TP2_differential.tsv
datasets/Plots to edit/balanced_woo_contrast_treatment_WTNK_versus_untreated_for_A_TP1_differential.tsv
datasets/Plots to edit/balanced_woo_contrast_treatment_WTNK_versus_untreated_for_A_TP2_differential.tsv
datasets/Plots to edit/balanced_woo_contrast_treatment_WTNK_versus_untreated_for_D_TP1_differential.tsv
datasets/Plots to edit/balanced_woo_contrast_treatment_WTNK_versus_untreated_for_D_TP2_differential.tsv
datasets/Plots to edit/human_contrast_group_LY6E_KO_vs_LY6E_WT_against_intercept_differential.tsv
datasets/Plots to edit/ly6a_contrast_group_Ly6a_KO_vs_Ly6a_WT_against_intercept_differential.tsv
datasets/Plots to edit/rnaseq_deseq_cml_contrast_group_LY6A_overexpressed_vs_LY6A_EV_control_against_intercept_differential.tsv
results_dir
